/* styles.css */

body {
    font-family: 'Arial', sans-serif;
}

p {
    text-align: justify;
}
/* Barra de Navegación */
.navbar {
    background-color: #c41e47;
}

.navbar-brand {
    font-weight: bold;
    color: #1565c0;
}

.navbar-nav .nav-link {
    color: #e0355a;
}

/* Secciones */
section {
    margin-bottom: 40px;
}

/* Footer */
footer {
    color: #fff;
    background-color: #343a40;
}

/* Títulos de sección */
h1, h2 {
    color: #d3274c;
}

/* Estilo para enlaces */
a {
    color: #1565c0;
}

a:hover {
    color: #004080;
}

/* Estilo para botones */
.btn-primary {
    background-color: #1565c0;
    border-color: #1565c0;
}

.btn-primary:hover {
    background-color: #004080;
    border-color: #004080;
}

/* styles.css */

/* Estilo general para centrar contenido */
.center-content {
    text-align: center;
}

/* Centrar secciones */
#inicio, #lugar1, #lugar2 {
    /* margin: 0 auto; */
    /*max-width: 800px;  Ajusta el ancho máximo según tus necesidades */
    margin-top: 0;
}

/* Centrar imágenes dentro de las secciones */
section img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: 100%; /* Ajusta el ancho máximo según tus necesidades */
    height: auto;
}

.imagenModal{
    width: 768px;
    height: auto;
    border-radius: 15px;
}

.Inicio{
    display: flex;
    justify-content: center;
}

.PublicidadMid{
    display: flex;
    justify-content: center;
}
.custom-color {
    background-color: #bb2b4f; /* Puedes cambiar el código de color según tus preferencias */
}